<div class="admin-card is-772440ee" >
  <form action="/admin/categories" method="POST">
    <div class="is-4986ecf7" >
      <label class="is-ab38d6d2" for="name" >Category Name</label>
      <input class="is-312181af" type="text" id="name" name="name" required >
    </div>
    <div class="is-d3297f95" >
      <label class="is-ab38d6d2" for="description" >Description</label>
      <textarea class="is-312181af" id="description" name="description" rows="5" ></textarea>
    </div>
    <div class="is-0ba2053e" >
      <button type="submit" class="btn btn-primary">Create Category</button>
      <a href="/admin/categories" class="btn btn-secondary">Cancel</a>
    </div>
  </form>
</div>
